params {
    bam_files = "/media/data1/workspace/BDRhapsody/result_decoy_run/*.BAM"
    gtf = "/media/data1/Reference/BDRhapsody/hg19-gencode.tar.gz"
    repeat_mask = "/media/data1/Reference/BDRhapsody/hg19_rmsk.gtf"
    outdir = "/media/data1/workspace/BDRhapsody/result_velocyto"
}

process {
    withName: prepare_bam {
        container = "https://depot.galaxyproject.org/singularity/velocyto.py%3A0.17.17--py38h17adfb0_5"
        cpus = 8
    }
    withName: velocyto {
        cpus = 8
        container = "https://depot.galaxyproject.org/singularity/velocyto.py%3A0.17.17--py38h17adfb0_5"
        publishDir = [path: "${params.outdir}", mode: 'copy']
        memory = 50.GB
    }
}

resume = true
singularity.enabled = true
singularity.autoMounts = true
